* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.HeadContain {
	    color: #fff;
    font-weight: normal;
    font-family: "Open Sans";
    font-size: 0.9em;
    margin: 0px;
    padding: 0px;
    height: 100px;
    width: 100%;
    background: rgb(13,11,91);
background: linear-gradient(90deg, rgba(13,11,91,1) 0%, rgba(24,15,68,1) 35%, rgba(73,92,125,1) 100%);
}

.HeadContain img {
	padding-left: 20px;
	padding-top: 10px;
	width: 150px;
}

.Formulario {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(https://auth.bncr.fi.cr/adfs/portal/images/bncr/fondo.jpg);
	height: 90vh;
	background-position: center;
	background-size: cover;
	padding: 50px;
}

form input {
	padding-left: 10px;
	margin-bottom: 20px;
	width: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

	border-radius: 5px;
	border: none;
}
form input::placeholder {
	text-transform: uppercase;
}
form button {
	background-color: green;
	border: none;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
form a {
	font-family: arial;
	text-decoration: none;
	margin-top: 20px;

}

footer {
	background: rgb(13,11,91);
background: linear-gradient(90deg, rgba(13,11,91,1) 0%, rgba(24,15,68,1) 35%, rgba(73,92,125,1) 100%);
	padding: 50px;
	color: #fff;
	font-family: arial;

}

ul li {
	line-height: 30px;
}

@media only screen and (max-width: 1000px) {
	form input {
		width: 300px;
	}
}

@media only screen and (max-width: 320px) {
	form input {
		width: 250px;
	}
}